<div class='paper-box'><div class='paper-box-image'><div><div class="badge">ECCV 2020</div><img src='images/han.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Single Image Super-Resolution via a Holistic Attention Network](https://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123570188.pdf)

Ben Niu<sup>*</sup>, **Weilei Wen<sup>*</sup>**, Wenqi Ren, Xiangde Zhang, Lianping Yang, Shuzhen Wang, Kaihao Zhang, Xiaochun Cao, Haifeng Shen ( <sup>*</sup> Equal Contribution )

**ECCV 2020** | [**GitHub**](https://github.com/wwlCape/HAN) <img src="https://img.shields.io/github/stars/wwlCape/HAN?style=flat-square&logo=github&label=Stars" alt="GitHub stars" referrerpolicy="no-referrer" style="vertical-align:middle;margin-left:4px">
</div></div>
