<div class='paper-box'><div class='paper-box-image'><div><div class="badge">IEEE TIP 2022</div><img src='images/stan.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Video Super-Resolution via a Spatio-Temporal Alignment Network](https://ieeexplore.ieee.org/document/9700735)

**Weilei Wen**, Wenqi Ren, Yinghuan Shi, Yunfeng Nie, Jingang Zhang, Xiaochun Cao

**IEEE Transactions on Image Processing (TIP) 2022** | [**GitHub**](https://github.com/wwlCape/STAN) <img src="https://img.shields.io/github/stars/wwlCape/STAN?style=flat-square&logo=github&label=Stars" alt="GitHub stars" referrerpolicy="no-referrer" style="vertical-align:middle;margin-left:4px">
</div></div>

