<div class='paper-box'><div class='paper-box-image'><div><div class="badge">IEEE TIP 2026</div><img src='images/ugtsr.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[Incorporating Uncertainty-Guided and Top-k Codebook Matching for Real-World Blind Image Super-Resolution](https://ieeexplore.ieee.org/document/11371599)

**Weilei Wen**, Tianyi Zhang, Qianqian Zhao, Zhaohui Zheng, Chunle Guo, Xiuli Shao, Chongyi Li

**IEEE Transactions on Image Processing (TIP) 2026** | [**GitHub**](https://github.com/wwlCape/UGTSR-main) <img src="https://img.shields.io/github/stars/wwlCape/UGTSR-main?style=flat-square&logo=github&label=Stars" alt="GitHub stars" referrerpolicy="no-referrer" style="vertical-align:middle;margin-left:4px">
</div></div>
